System OS: {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}
Total RAM: {{ ansible_facts['memtotal_mb'] }}
Processor: {{ ansible_facts['processor'] }} 
Total vCPUs: {{ ansible_facts['processor_vcpus'] }}
Server Model: {{ ansible_facts['system_vendor'] }}
Server Model Number: {{ ansible_facts['product_name'] }}
Server Serial Number: {{ ansible_facts['product_serial'] }}

 




