127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
143.160.45.207 redhatregistry.nwu.ac.za nexus.nwu.ac.za 
143.160.72.73  v-rhcs-arc-admin

